@model IEnumerable<PMA.Models.PlaylistListItem>

@{
    ViewBag.Title = "Playlists";
}

<h2>Playlists</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaylistId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaylistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlaylistId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaylistName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { PlaylistId=item.PlaylistId }) |
            @Html.ActionLink("Details", "Details", new { PlaylistId=item.PlaylistId }) |
            @Html.ActionLink("Delete", "Delete", new { PlaylistId=item.PlaylistId })
        </td>
    </tr>
}

</table>
